* {
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
}
html {
    overflow-x: hidden;
}
html,
body {
    width: 100%;
    min-width: 22rem;
	font-size: 10px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    background-color: #f6f6f6;
}

header {
    width: 100%;
    /* box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
                0px 4px 5px 0px rgba(0,0,0,0.14),
                0px 1px 10px 0px rgba(0,0,0,0.12); */
    box-shadow: 0 1px 8px rgba(26,26,26,.1);
    z-index: 3;
    position: fixed;
    top: 0;
}
header .logo-wrapper {
    display: inline-block;
    width: 100%;
    height: 5.6rem;
    background-color: #1864c9;
    position: relative;
}
.logo-wrapper a {
    color: #fff;
    padding: 0 1.6rem;
    font-size: 2rem;
    line-height: 5.6rem;
}

div.main {
    width: 85%;
    height: 58rem;
    margin: 12rem auto 0;
}
div.main .title {
    width: 100%;
    text-align: center;
    font-size: 3.75rem;
    font-weight: 300;
    margin: 4rem 0;
}
div.main .input-container {
    width: 100%;
}
.input-container .input-box {
    width: 80%;
    max-width: 60rem;
    margin: 4rem auto;
    position: relative;
}
.input-container .question-input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* padding-right: 5rem; */
    color: rgba(0,0,0,0.5);
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2px 5px #aaa;
    outline: none;
}
.question-input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
}
.input-container .search-btn {
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    right: -1rem;
    margin-top: -1.5rem;
    color: #fff;
    border: none;
    border-radius: 50%;
    background: url('../static/search-icon.png');
    background-size: contain;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}
.input-container .search-btn:hover {
    background-color: #eee;
    transition: .2s ease-in-out;
}

header.analysis-header {
    width: 100%;
    position: fixed;
}
header .question-container {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
}
.question-container .question {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #1a1a1a;
    font-weight: 600;
}
.question-container .answer-count {
    display: block;
    padding: 0 2rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #333;
    font-weight: 600;
}

div.main-container {
    width: 100%;
    margin: 16rem auto 1rem;
    z-index: 1;
    /* box-shadow: 0px 0px 2px rgba(0,0,0,0.2); */
    position: relative;
}
/* page loading animation */
@keyframes move {
    to { left: 50%; }
} 
@keyframes cover {
    from, 49.9% { z-index: 1; }
    50.1%, to { z-index: 0; }
}  
.flickr-spinner {
    width: 3em;
    height: 1.2em;
    position: relative;
    margin: 0rem auto;
    z-index: 90;
}  
/* Using pseudo elements now */
.flickr-spinner:before,
.flickr-spinner:after {
    content: '';
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    border-radius: 50%;
    
    /* `alternate` seems to work good but the problem
    is both the circles are stacked...
    starting the animation backwards on the
    first play for one of them will fix this. */
    /* After each cycle, the stack order changes
    in the original animation, so lets achieve that. */
    /* and we're done ... */
    animation:
      move ease-in-out .7s infinite alternate,
      cover 1.4s infinite reverse;
}
.flickr-spinner:before {
    background: #0063dc; /* blue one */
    animation-direction: alternate-reverse, normal; /* yay! */
}  
.flickr-spinner:after {
    background: #ff0084; /* pink one */
}

.main-container .images-list#waterfall-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.images-list .image-container.waterfall-item {
    /* position: absolute; */
    float: left;
    /* width: 25%; */
    /* min-width: 20rem; */
    padding: 1rem;
    background-color: #f6f6f6;
    box-sizing: border-box;
}
.image-wrapper {
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
}
.waterfall-item .image-wrapper:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
    transition: .3s all;
}
.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.image-wrapper .info-container {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: none;
}
.info-container .avatar-wrapper,
.info-container .author,
.info-container .answer,
.info-container span.voteup {
    display: inline-block;
    height: 3.4rem;
    position: absolute;
    top: 50%;
    margin-top: -1.8rem;
}
.info-container .avatar-wrapper {
    width: 3.4rem;
    margin-left: .5rem;
    background-color: #d4d4d4;
    border-radius: .4rem;
    overflow: hidden;
    cursor: pointer;
}
.info-container .icon-wrapper img.avatar {
    width: 100%;
    height: 100%;
}

.info-container .author {
    width: 30%;
    margin-left: 4.5rem;
    color: #333;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.info-container .author:hover {
    text-decoration: underline;
}
.info-container .answer {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    right: 1rem;
    top: 50%;
    margin-top: -1rem;
    background-color: #333;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: center;
    border-radius: .3rem;
}
.info-container .answer:hover {
    color: #ddd;
}

.info-container span.voteup {
    /* width: 4rem; */
    right: 3.5rem;
    color: #333;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 3.4rem;
    text-align: left;
}
.info-container span.voteup i {
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    left: -2.5rem;
    top: 50%;
    margin-top: -1rem;
    margin-left: .2rem;
    background: url(../static/voteup.png);
    background-size: contain;
}

footer {
    width: 100%;
    height: 3rem;
    z-index: 1;
    /* position: fixed;
    bottom: 0; */
}
footer p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #aaa;
    line-height: 2rem;
    text-align: center;
}

.side {
    width: 4rem;
    /* height: 10rem; */
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;
}
.side .back-to-top {
    width: 100%;
    height: 4rem;
    padding: .3rem;
    background-color: #fff;
    color: #76839b;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.14);
    border: none;
    outline: none;
    cursor: pointer;
}
.side .back-to-top:hover {
    background-color: #d3d3d3;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: .3s all;
}

.image-mask-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-mask-wrapper .image-wrapper {
    width: 80%;
    height: 90%;
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
}
.image-mask-wrapper .image-wrapper::-webkit-scrollbar {
    display: none;
}
.image-mask-wrapper .image-wrapper img.full-height {
    height: 100%;
    width: auto;
    border-radius: .5rem;
    cursor: zoom-in;
    margin: 0 auto;
}
.image-mask-wrapper .image-wrapper img.full-width {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    cursor: zoom-out;
    /* position: absolute;
    top: 50%;
    transform:translate(0, -50%); */
}
.image-mask-wrapper .close-mask {
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: block;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    line-height: 3.8rem;
    text-align: center;
    color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.image-mask-wrapper .close-mask:hover {
    background-color: rgba(255,255,255,0.2);
}

.member-window {
    width: 30.6rem;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 0 4px #ccc;
    background-color: #fff;
    z-index: 5;
}
.member-window .loading {
    width: 15rem;
    height: 10rem;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 0 1px #ccc;
    background-color: #fff;
    z-index: 6;
}
.loading .loading-inner {
    width: 40%;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20%;
    margin-top: -1rem;
}
.loading i.bubble {
    float: left;
    margin: .7rem .3rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #1973e9;
    display: inline-block;
    animation: expand .75s ease-in-out infinite;
}
i.bubble:nth-child(2) {
    animation-delay: 180ms;
}
i.bubble:nth-child(3) {
    animation-delay: 360ms;
}  
i.bubble:nth-child(4) {
    animation-delay: 540ms;
}
@keyframes expand {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
}


.member-window-header {
    position: relative;
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.member-window-header .member-avatar-wrapper {
    position: absolute;
    width: 7rem;
    height: 7rem;
    margin: 1.5rem;
}
.member-window-header .member-avatar-wrapper img.member-avatar {
    width: 100%;
    height: auto;
}
.member-window-header .member-info {
    height: 8rem;
    position: absolute;
    margin-left: 10rem;
    margin-right: 1.5rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.member-info a.member-name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 4.0rem;
    color: #000;
}
.member-info .member-headline {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #333;
}

.member-window-bottom {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.member-window-bottom .content-item:hover .item-title,
.member-window-bottom .content-item:hover .item-content {
    color: #175199;
}
.member-window-bottom .content-item .item-title {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: #646464;
    text-align: center;
}
.member-window-bottom .content-item .item-content {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    color: #000;
    text-align: center;
}

.logo-wrapper .input-container {
    height: 100%;
    width: 20rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0rem auto;
}
.logo-wrapper .input-container .input-box {
    margin: 1.5rem auto;
    width: 6rem;
    border-radius: 1rem;
}
.logo-wrapper .input-container .input-box .question-input {
    float: right;
    height: 1rem;
    border-radius: 2rem;
    text-overflow: ellipsis;
}
.logo-wrapper .input-container .input-box .search-btn {
    float: right;
    right: .3rem;
    margin-top: 0rem;
    background-color: #fff;
}
